<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="HandheldFriendly" content="True">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<title>muhimu - connecting businesses and individuals across the caribbean and africa</title>
	<meta name="description" content="Connecting businesses and individuals across the Caribbean and Africa">
	<meta name="keywords" content="businesses people connection jobs career management ats caribbean africa job board jobboard">
	<meta name="author" content="GARAKAMI LLC">
	<meta name="company" content="GARAKAMI LLC">
	<meta name="copyright" content="Copyright (c) 2014 GARAKAMI LLC">

	<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico">

	<link rel="dns-prefetch" href="//www.muhimu.net">

	<link rel="publisher" href="{SOCIAL_GOOGLEPLUS}">
	<meta name="application-name" content="muhimu">
	<meta name="msapplication-TileColor" content="{BASE_COLOR}">
	<meta name="msapplication-TileImage" content="{FAVICON_144x144}">

	<meta property="og:site_name" content="muhimu">
	<meta property="fb:app_id" content="{SOCIAL_FACEBOOK_APP_ID}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="//www.muhimu.net">
	<meta property="twitter:site" content="@muhimu">

	<!-- CSS STYLES -->
    <% if (typeof user !== "undefined") { %>
	<link media="all" type="text/css" rel="stylesheet" href="/assets/stylesheets/redactor.css">
	<link href="/assets/stylesheets/select2.min.css" rel="stylesheet" />
	<link href="/assets/stylesheets/select2-bootstrap.css" rel="stylesheet" />
	<link rel="stylesheet" href="/assets/stylesheets/bootstrap-datepicker3.min.css">
	<style>
	.json-builder label { display: inline;}
	body { font: 14px Arial, sans-serif; margin: 0; }
	#wrap { margin: 0 auto; }
	#output { border: 0; float: left; font-size: 12px; height: 3200px; margin-top: 50px; margin-left: 40px; padding: 16px 0; outline: 0; resize: none; width: 460px; display: none; }
	</style><% } %>
	<link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/assets/stylesheets/style.css">
	<link href="/assets/stylesheets/select2.min.css" rel="stylesheet" />
	<link href="/assets/stylesheets/select2-bootstrap.css" rel="stylesheet" />


	<script type="text/javascript">
	!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
	analytics.load("0K5A9NwbxulNQHMzT0Lu4MrkhdZcuGCM");
	analytics.page()
	}}();
	</script>

	<!--Start of Zopim Live Chat Script-->
	<script type="text/javascript">
	window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
	d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
	_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
	$.src="//v2.zopim.com/?3ADUQirUmaONLAE9ptFMYPUdgTHbUzcJ";z.t=+new Date;$.
	type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
	</script>
	<!--End of Zopim Live Chat Script-->

</head>

<body>

	<header id="masthead" class="clearfix">
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">

			  <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header">

				    <a class="navbar-brand tac" href="/"><p class="small text-right">alpha <span class="hidden-sm hidden-xs">version</span></p><img src="/assets/images/logo-black.svg" class="logo-full"></a>
				    <!--<ul class="nav navbar-nav masthead-nav nav-left pull-left">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">New <span class="caret"></span></a>
							<ul class="dropdown-menu">
			                    <li id=""><a href="/projects/new">Project</a></li>
			                    <li id=""><a href="/opportunities/new">Opportunity</a></li>
			                  </ul>
						  </li>
					</ul>-->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				      <span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
			  </div>

			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    <% if (typeof user !== "undefined") { %>
			    <ul class="nav navbar-nav masthead-nav navbar-right">
		      		<% if (typeof user !== "undefined") { if (user.isAdmin === true) { %>
		      		<li class="">
						  <a class="btn btn-default dropdown-toggle" type="button" id="admin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <span class="text-danger">Admin</span>
						    <span class="caret text-danger"></span>
						  </a>
						  <ul class="dropdown-menu" aria-labelledby="admin">
						    <li class="dropdown-header">Users</li>
						    <li><a href="/admin/individuals">Individuals</a></li>
						    <li><a href="/admin/companies">Companies</a></li>
						    <li class="dropdown-header">Opportunities</li>
						    <li><a href="/admin/opportunities">View All Opportunities</a></li>
						  </ul>
						</li>
					<% }} %>
		      		<li class=""><a href="/dashboard">Dashboard <sup><span id="cart-items" class="text-primary"><% /* user.cart ? user.cart.length : '' */ %></span></sup></a></li>
					<% if (typeof user !== "undefined") { if (user.usertype == "Individual") { %><li class=""><a href="/account/resume">R&eacute;sum&eacute;</a></li><% }} %>
					<li class=""><a href="/opportunities">Opportunities</a></li>
					<li class=""><a href="/account/settings">Settings</a></li>

					<li class=""><a href="/account/logout">Logout</a></li>
		       </ul>
		       <% } else { %>
		       <ul class="nav navbar-nav masthead-nav navbar-right">
		      		<% /*<li class=""><a href="/tour" class="">Tour</a></li>
		      		<li class="active"><a href="/pricing" class="">Pricing</a></li>*/ %>
		      		<li class=""><a href="/account/login" class="">Login</a></li>
					<li class=""><a href="/signup/individual">Sign up</a></li>
		       </ul>
		       <% } %>
			  </div><!-- /.navbar-collapse -->
			</nav>
		</div><!-- /.container-fluid -->
	</header>
	<div class="container"><p id="user-messages"></p></div>

	<% if ((typeof user !== "undefined") && (user.isComplete !== true) && (user.isAdmin !== true)) { %>
	<div class="alert alert-success alert-dismissible setup" role="alert">
		<div class="container">
		  <h3 class=""><%= user.firstname %>, you're almost done!</h3>
		  <p class="">The more information you provide the easier it is for employers looking at your profile to make a decision and it also decreases the possibility of your application getting ignored.</p>
		  <br>
		  <!--<div class="progress">
			  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
			    <span class="sr-only">40% Complete (success)</span>
			  </div>
			</div>-->
			<ul class="list-unstyled">
				<%
				var resume = null,
				personal = null;

				if ((user.firstname !== "") && (user.lastname !== "") && (user.email !== "") && (user.number !== "") && (user.locations.length !== 0)) { %>
					<li><span class="glyphicon glyphicon-check"></span> <a href="/account/settings" class="btn-link strike">Fill out your personal information</a></li>
				<% personal = "done";
				} else { %>
					<li class="nd"><span class="glyphicon glyphicon-edit"></span> <a href="/account/settings" class="btn-link">Fill out your personal information</a></li>
				<% } %>

				<% if (user.resume) { if ((user.resume.work.length !== 0) && (user.resume.education.length !== 0) && (user.resume.skills.length !== 0) && (user.resume.language.length !== 0)) { %>
					<li class=""><span class="glyphicon glyphicon-check"></span> <a href="/account/resume" class="btn-link strike">Build your r&eacute;sum&eacute;</a></li>
				<%
				resume = "done";
				} else { %>
					<li class="nd"><span class="glyphicon glyphicon-edit"></span> <a href="/account/resume" class="btn-link">Build your r&eacute;sum&eacute;</a></li>
				<% }} %>

				<% if ((personal === "done") && (resume === "done")) { %>
					<li class="nd"><span class="glyphicon glyphicon-edit"></span> <a href="/opportunities" class="btn-link">Apply for your first job</a></li>
				<% } else { %>
					<li class="nd"><span class="glyphicon glyphicon-edit"></span> <a class="btn-link btn-disabled" role="button">Apply for your first job</a></li>
				<% } %>
			</ul>
			<% if ((personal === "done") && (resume === "done")) { %><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><% } %>
		</div>
	</div>
	<% } %>
