<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="HandheldFriendly" content="True">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<title>muhimu - connecting businesses and individuals across the caribbean and africa</title>
	<meta name="description" content="Connecting businesses and individuals across the Caribbean and Africa">
	<meta name="keywords" content="businesses people connection jobs career management ats caribbean africa job board jobboard">
	<meta name="author" content="GARAKAMI LLC">
	<meta name="company" content="GARAKAMI LLC">
	<meta name="copyright" content="Copyright (c) 2014 GARAKAMI LLC">

	<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico">

	<link rel="dns-prefetch" href="//www.muhimu.net">

	<link rel="publisher" href="{SOCIAL_GOOGLEPLUS}">
	<meta name="application-name" content="muhimu">
	<meta name="msapplication-TileColor" content="{BASE_COLOR}">
	<meta name="msapplication-TileImage" content="{FAVICON_144x144}">

	<meta property="og:site_name" content="muhimu">
	<meta property="fb:app_id" content="{SOCIAL_FACEBOOK_APP_ID}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="//www.muhimu.net">
	<meta property="twitter:site" content="@muhimu">

	<!-- CSS STYLES -->
	<link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/stylesheets/style.css">

    <script type="text/javascript">
	!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
	analytics.load("0K5A9NwbxulNQHMzT0Lu4MrkhdZcuGCM");
	analytics.page()
	}}();
	</script>

	<!--Start of Zopim Live Chat Script-->
	<script type="text/javascript">
	window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
	d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
	_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
	$.src="//v2.zopim.com/?3ADUQirUmaONLAE9ptFMYPUdgTHbUzcJ";z.t=+new Date;$.
	type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
	</script>
	<!--End of Zopim Live Chat Script-->

</head>

<body>

<div id="tour-header" class="content-block">
	<header id="masthead" class="clearfix">
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">

			  <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				      <span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
				    <a class="navbar-brand tac" href="/"><p class="small text-right">alpha <span class="hidden-sm hidden-xs">version</span></p><img src="/assets/images/logo-white.svg" class="logo-full"></a>
			  </div>

			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    <% if (typeof user !== "undefined") { %>
			    <ul class="nav navbar-nav masthead-nav navbar-right">
		      		<li class=""><a href="/dashboard">Dashboard <sup><span id="cart-items" class="text-primary"><% /* user.cart ? user.cart.length : '' */ %></span></sup></a></li>
					<% if (typeof user !== "undefined") { if (user.usertype == "Employee") { %><li class=""><a href="/account/resume">R&eacute;sum&eacute;</a></li><% }} %>
					<li class=""><a href="/opportunities">Opportunities</a></li>
					<li class=""><a href="/account/settings">Settings</a></li>
					<li class=""><a href="/account/logout">Logout</a></li>
		       </ul>
		       <% } else { %>
		       <ul class="nav navbar-nav masthead-nav navbar-right">
		      		<li class=""><a href="/tour" class="">Tour</a></li>
		      		<% /*<li class="active"><a href="/pricing" class="">Pricing</a></li>*/ %>
		      		<li class=""><a href="/account/login" class="">Login</a></li>
					<li class=""><a href="/account/signup">Sign up</a></li>
		       </ul>
		       <% } %>
			  </div><!-- /.navbar-collapse -->

			</nav>
		</div><!-- /.container-fluid -->

	</header>
	<div class="container"><p id="user-messages"></p></div>

	<div class="container" id="tour">
		<div class="row">
			<div class="col-md-12">
				<h1 class="">Connecting businesses and individuals across the Caribbean and Africa</h1>
				<br><br><br><br>
			</div>


		</div>
	</div>
</div>


<div class="container-fluid home-section" id="">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="lead"><strong>muhimu</strong> is a your space to manage your business-individual relationship.</p>
				<ul class="list-unstyled">
					<li><strong>Creators</strong>: Step-by-step guidance through the business world to effectively and safely transform your ideas into products, along with access to a network of service providers to help you accomplish your project goals</li>
					<li><strong>Service Providers</strong>: Increased client base by extending your business reach worldwide to innovators in need of your specific services</li>
					<li><strong>Businesses</strong>: Break-out products in our Marketplace from talented innovators to take your business to the next level</li>
				</ul>
				<p>At <strong>muhimu</strong>, we want your voice to be heard and projects to succeed; we do not want your ideas to be copied or compromised. Our online platform was built from the understanding of first-hand experiences and concerns of product development. Our goal is to simplify the process of product development while providing the safe space for your dreams to come to true. The world needs your innovation. Start your journey with <strong>muhimu</strong>.</p>
			</div>

		</div>
	</div>
</div>

<hr>

<div class="container home-section" id="">
	<div class="row">
		<div class="col-md-4">
			<h1 class="rs">Step 1</h1>
			<h3>Sign up and Fill out Company Profile</h3>
		</div>
		<div class="col-md-7 col-md-offset-1">
			<p class="lead rs">Business Profile</p>
			<p>You are able to give your potential hires a detailed overview of your company's history and culture to make sure you're attracting the right people.</p>

			<p class="lead rs">Dashboard</p>
			<p>Our robust but intuitive dashboard gives you a summary view of all your options and and performance information.</p>

			<p class="lead rs">Mobile Optimized Website</p>
			<p>We built this product with a mobile audience in mind but our layout is optimized for any devices.</p>

		</div>
	</div>
</div>

<hr>

<div class="container home-section" id="">
	<div class="row">
		<div class="col-md-4">
			<h1 class="rs">Step 2</h1>
			<h3>Post Opportunity</h3>
		</div>
		<div class="col-md-7 col-md-offset-1">
			<p class="lead rs">Opportunities Manager</p>
			<p>You can post open positions, make edits and view post performance data including impression, vies, and applicant counts.</p>

			<p class="lead rs">Location-based Listing</p>
			<p>Everything on our system is location-aware which makes sure it is highly relevant to you and the individuals looking to apply.</p>

			<p class="lead rs">Applicant Matching</p>
			<p>We utilized data from your business profile, your open opportunities and individuals's profiles to let you know whether they are a good make or not.</p>

		</div>
	</div>
</div>

<hr>

<div class="container home-section" id="">
	<div class="row">
		<div class="col-md-4">
			<h1 class="rs">Step 3</h1>
			<h3>Get Applicants</h3>
		</div>
		<div class="col-md-7 col-md-offset-1">
			<p class="lead rs">Applicant Management System</p>
			<p>You are able to review all your applicant submissions for open positions, filter and sort them into groups of your choosing. You can message individual applicants to schedule interviews, take note and make final offers.</p>

			<p class="lead rs">Reporting</p>
			<p>We provide you with information on how well your opportunities are performing by providing you details on how many people viewed it, how many times it showed in site listings and search, how many people applied, etc.
</p>
		</div>
	</div>
</div>

<hr>

<div class="container home-section">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p>We at <strong>kreateve</strong> have been working in the field of innovation for over 50 years combined. We have experienced the trials and successes of bringing a product to market and understand the issues and gaps in information and resources that the innovator faces.</p>
			<p>We've used our experiences to troubleshoot the entire process of bringing a product to life, with the result being a comprehensive, user-friendly guide to innovation, supplemented with a community of quality service providers eager to help you succeed. Our goal is to guide you around the pitfalls of the industry, speed up the entire process of getting your idea to the marketplace, and save you money. Welcome to <strong>kreateve</strong>.</p>
			<br><br>
		</div>

		<div class="col-md-10 col-md-offset-1 tac">

			<p class="lead">Welcome to <strong>kreateve</strong>.</p>
			<br><br>
			<a href="/account/signup" class="btn btn-success btn-lg">Join muhimu <!--<span class="glyphicon glyphicon-chevron-right"></span>--></a> &nbsp; <a href="/account/login" class="btn btn-link">Login</a>
		</div>
	</div>

</div>

<% include ../partials/footer-menu.html.ejs %>
<% include ../partials/footer.html.ejs %>