<% include ../partials/header-not-logged-in.html.ejs %>


<div class="container home-section" id="more">
	<div class="row">

		<div class="col-md-8 col-md-offset-2">
			<h1>Contact Information</h1>
			<p class="lead">You can reach us anytime at the following:</p>
			<div class="row">
				<div class="col-md-4">
					<p><strong>Address</strong><br>
					GARAKAMI LLC<br>
					112 East 45th Street<br>
					Brooklyn, NY 11203
					</p>
				</div>
				<div class="col-md-6">
					<p><strong>Phone</strong><br> +1 316 453 6436</p>
					<p><strong>Email</strong><br> hello [at] muhimu.net</p>
				</div>
			</div>

		</div>
	</div>
</div>

<% include ../partials/footer-menu.html.ejs %>
<% include ../partials/footer.html.ejs %>